%header-font{
    font: {
        weight:400;
        size: 1.4em;
    }
}

%menu-item{
    display: block;
    text-decoration: none;
    color: var(--black-color);
    @extend %header-font;
    padding: 1.3em 1em;

    &:hover{
        background-color: var(--gray-color);
    }
}
